/*To stykle every other  tamle row element, use the :nth-child(even) selector like this: */
tr:nth-child(even)  {

    background-color:rgba(150, 212, 212, 0.4);

}
th:nth-child(even),td:nth-child(even) {
 background-color: rgba(150, 212, 212, 0.4);
}